In [2]:
import pandas as pd
df = pd.read_csv("southeast/southeast.csv")
df = df.drop('index', axis=1)
df.columns = ['date', 'hour', 'prcp', 'stp', 'smax', 'smin', 'gbrd', 'temp', 'dewp', 'tmax', 'tmin', 'dmax', 'dmin', 'hmax', 'hmin', 'hmdy', 'wdct', 'gust', 'wdsp', 'region', 'state', 'station', 'station_code', 'latitude', 'longitude', 'height']
df

,date,hour,prcp,stp,smax,smin,gbrd,temp,dewp,tmax,...,wdct,gust,wdsp,region,state,station,station_code,latitude,longitude,height
0,2000-05-07,00:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,...,-9999,-9999.0,-9999.0,SE,RJ,ECOLOGIA AGRICOLA,A601,-22.800000,-43.683333,33.0
1,2000-05-07,01:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,...,-9999,-9999.0,-9999.0,SE,RJ,ECOLOGIA AGRICOLA,A601,-22.800000,-43.683333,33.0
2,2000-05-07,02:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,...,-9999,-9999.0,-9999.0,SE,RJ,ECOLOGIA AGRICOLA,A601,-22.800000,-43.683333,33.0
3,2000-05-07,03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,...,-9999,-9999.0,-9999.0,SE,RJ,ECOLOGIA AGRICOLA,A601,-22.800000,-43.683333,33.0
4,2000-05-07,04:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,...,-9999,-9999.0,-9999.0,SE,RJ,ECOLOGIA AGRICOLA,A601,-22.800000,-43.683333,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15345211,2021-02-02,01:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,...,-9999,-9999.0,-9999.0,SE,MG,SAO SEBASTIAO DO PARAISO,A561,-20.909892,-47.114259,845.0
15345212,2021-02-02,02:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,...,-9999,-9999.0,-9999.0,SE,MG,SAO SEBASTIAO DO PARAISO,A561,-20.909892,-47.114259,845.0
15345213,2021-02-02,03:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,...,-9999,-9999.0,-9999.0,SE,MG,SAO SEBASTIAO DO PARAISO,A561,-20.909892,-47.114259,845.0
15345214,2021-02-02,04:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,...,-9999,-9999.0,-9999.0,SE,MG,SAO SEBASTIAO DO PARAISO,A561,-20.909892,-47.114259,845.0
15345215,2021-02-02,05:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,...,-9999,-9999.0,-9999.0,SE,MG,SAO SEBASTIAO DO PARAISO,A561,-20.909892,-47.114259,845.0

In [3]:
df['date'] = pd.to_datetime(df['date'])

In [4]:
df['year'] = pd.DatetimeIndex(df['date']).year
df['year'].nunique()

22

In [6]:
df['year'] = df['year'].astype(str)
df.dtypes

date            datetime64[ns]
hour                    object
prcp                   float64
stp                    float64
smax                   float64
smin                   float64
gbrd                     int64
temp                   float64
dewp                   float64
tmax                   float64
tmin                   float64
dmax                   float64
dmin                   float64
hmax                     int64
hmin                     int64
hmdy                     int64
wdct                     int64
gust                   float64
wdsp                   float64
region                  object
state                   object
station                 object
station_code            object
latitude               float64
longitude              float64
height                 float64
year                    object
dtype: object

In [5]:
print(df.groupby('year').size())

year
2000       5736
2001      11736
2002      31104
2003     113064
2004     114504
2005     125232
2006     254232
2007     653784
2008     878760
2009     911040
2010     920640
2011     946368
2012     959280
2013     963720
2014     972360
2015     981576
2016    1026672
2017    1170744
2018    1274640
2019    1292088
2020    1308816
2021     429120
dtype: int64

In [38]:
for name, group in df.groupby('year'):
    group.to_csv('smallerCSV/' + '{}.csv'.format(name), index=False)

In [7]:
# df.to_csv('southeast_pery.csv', index=False)

In [19]:
# df.isnull().sum()

date     0
hour     0
prcp     0
stp      0
smax     0
smin     0
gbrd     0
temp     0
dewp     0
tmax     0
tmin     0
dmax     0
dmax     0
dmin     0
hmax     0
hmin     0
hmdy     0
wdct     0
gust     0
wdsp     0
prov     0
wsnm     0
inmen    0
lat      0
lon      0
elvt     0
dtype: int64

In [26]:
# df.nunique()

date      7664
hour        24
prcp       386
stp       3251
smax      3248
smin      3236
gbrd     33430
temp       939
dewp       944
tmax       937
tmin       929
dmax       972
dmax       929
dmin       102
hmax       102
hmin        98
hmdy       362
wdct       374
gust       199
wdsp         1
prov         4
wsnm       160
inmen      150
lat        307
lon        314
elvt       248
dtype: int64

In [25]:
# temp = df.loc[df['date'] == '2003-05-07']
# temp

,date,hour,prcp,stp,smax,smin,gbrd,temp,dewp,tmax,...,hmdy,wdct,gust,wdsp,prov,wsnm,inmen,lat,lon,elvt
51600,2003-05-07,00:00,0.0,1008.3,1008.3,1007.8,-9999,21.3,20.2,21.6,...,195,1.2,0.2,SE,RJ,ECOLOGIA AGRICOLA,A601,-22.800000,-43.683333,33.0
51601,2003-05-07,01:00,0.0,1008.5,1008.6,1008.3,-9999,21.4,20.2,21.4,...,195,1.9,0.7,SE,RJ,ECOLOGIA AGRICOLA,A601,-22.800000,-43.683333,33.0
51602,2003-05-07,02:00,0.0,1008.5,1008.6,1008.5,-9999,21.1,19.6,21.5,...,194,2.6,0.1,SE,RJ,ECOLOGIA AGRICOLA,A601,-22.800000,-43.683333,33.0
51603,2003-05-07,03:00,0.0,1008.8,1008.8,1008.5,-9999,20.6,19.0,21.1,...,284,3.5,0.0,SE,RJ,ECOLOGIA AGRICOLA,A601,-22.800000,-43.683333,33.0
51604,2003-05-07,04:00,0.0,1008.1,1008.8,1008.1,-9999,20.4,18.6,20.6,...,202,3.1,1.1,SE,RJ,ECOLOGIA AGRICOLA,A601,-22.800000,-43.683333,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155923,2003-05-07,19:00,0.0,917.1,917.4,917.1,1709,19.8,4.2,20.1,...,203,5.1,2.1,SE,MG,UBERLANDIA,A507,-18.917222,-48.255556,869.0
155924,2003-05-07,20:00,0.0,917.2,917.2,917.0,849,18.9,4.0,19.8,...,221,4.5,2.1,SE,MG,UBERLANDIA,A507,-18.917222,-48.255556,869.0
155925,2003-05-07,21:00,0.0,917.4,917.4,917.2,183,17.2,5.5,19.0,...,247,3.7,1.3,SE,MG,UBERLANDIA,A507,-18.917222,-48.255556,869.0
155926,2003-05-07,22:00,0.0,918.1,918.1,917.4,-9999,16.2,6.9,17.2,...,237,2.2,1.2,SE,MG,UBERLANDIA,A507,-18.917222,-48.255556,869.0
155927,2003-05-07,23:00,0.0,918.7,918.7,918.1,-9999,14.9,7.5,16.2,...,210,2.3,0.7,SE,MG,UBERLANDIA,A507,-18.917222,-48.255556,869.0